.form {
  margin: 10px;
  /* flex-direction: column; */
  margin: auto;
  align-items: center;
}

.input {
  margin: 10px;
  /* flex-direction: row; */
}

.button {
  margin: 10px;
}

.test {
  /* margin-right: 20px; */
  /* width: 4000px; */
}
