.sidebar {
  position: sticky;
  top: 90px;
  flex: 0.4;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  /* height: fit-content; */
  border: 1px solid lightgray;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
  font-size: 12px;
  font-weight: 600;
  width: 260px;
  max-width: 260px;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: left;
  white-space: nowrap;
  padding: 7px;
  width: 100%;
  margin-top: -50px;
  margin-left: -20px;
}

.sidebar-links {
  color: gray;
  margin-top: 80px;
}

.link {
  margin-top: 15px;
  margin-bottom: 15px;
}
