.button {
  margin-bottom: 20px;
  margin-top: 20px;
}

.app3 {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app__body3 {
  display: flex;
  /* margin-top: 35px; */
  /* max-width: 1900px; */
  /* margin-left: 40px; */
  margin-right: 5px;
  /* width: 100%; */
}

.app__other {
  width: 100%;
  /* object-fit: contain; */
}

.checkbox-style {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
