.styled2 {
}

.some {
  /* align-items: text-wrap; */
  /* background-color: yellow; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  font-size: 11px;
}

.dataGrid {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  word-wrap: break-wordt;
}

.dataGrid2 {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  word-wrap: break-wordt;
}
