* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filename2 {
  color: gray;
}

.input-style {
  align-items: space-between;
  color: gray;
}

.table-header {
  font-size: small;
  font-weight: bold;
  margin-top: 2rem;
}

.table-body {
  font-size: small;
}

.phone-header {
  color: white;
}

.filename {
  color: gray;
  /* margin-left: 2rem; */
}
.small-container {
  max-width: 600px;
}

.table-header {
  font-size: small;
  font-weight: bold;
}

.table-body {
  font-size: small;
}

.phone-header {
  color: white;
}

.row-rev {
  display: flex;
  flex-direction: row;
}
